---
import MovieList from '../../../../../components/MovieList/MovieList.astro';
import { getTypedFilter } from '../../../../../helper/getTypedFilter';

import type { FilterUnionType } from '../../../../../typedefs/FilterUnionType';

export const partial = true;

const { userId } = Astro.params;

const filterParam = Astro.url.searchParams.get('filter');
const filter: FilterUnionType = getTypedFilter(filterParam);

let isError = false;

const response = await fetch (`${import.meta.env.HOST_URL}/api/user/movies/${userId}?filter=${filter}`);
const data = await response.json();

if (data.error) {
  isError = true;
}

const movies = !data.error ? data as Movie[] : [] as Movie[];
---
{
  isError
  ?
    <p>We're sorry, something went wrong.</p>
  :
    <MovieList movies={movies} filter={filter}/>
}
