---
export const partial = true;

import { buttonClasses } from "../../../../../../components/style/twClasses/buttonClasses";

const { userId, movieId } = Astro.params;

const confirmDeleteButtonClasses = `${buttonClasses} bg-green-600 hover:bg-green-500`
const revertDeleteButtonClasses = `${buttonClasses} bg-red-600 hover:bg-red-500`
---
<div class="flex flex-col items-center justify-center">
  <h1 class="text-lg font-bold">Really delete {movieId}?</h1>
  <div class="flex flex-row items-center justify-center space-x-3">
    <button
      id={`confirm-delete-${movieId}`}
      class={confirmDeleteButtonClasses}
      hx-delete={`partials/user/delete-movie/${userId}/${movieId}`}
      hx-target="#movie-list-container"
      hx-replace="innerHTML"
      hx-trigger="click"
      hx-boost={true}
    >
      Yes
    </button>
    <button
      id={`revert-delete-{movieId}`}
      class={revertDeleteButtonClasses}
      hx-get={`partials/user/revert-delete-movie/${userId}/${movieId}`}
      hx-target={`#are-you-sure-${movieId}`}
      hx-replace="outerHTML"
      hx-trigger="click"
    >
      No
    </button>
  </div>
</div>

<script>
  const allRadio = document.getElementById('movie-filter-all');
  const watchedRadio = document.getElementById('movie-filter-watched');
  const unwatchedRadio = document.getElementById('movie-filter-unwatched');

  const confirmDeleteButton = document.getElementById(`confirm-delete-${movieId}`);

  confirmDeleteButton.addEventListener('click', () => {
    allRadio.checked = true;
    watchedRadio.checked = false;
    unwatchedRadio.checked = false;
  });
</script>
