---
import { Image } from "astro:assets";
import { buttonClasses } from "../style/twClasses/buttonClasses";

// this is the only way to have a div that is replacable by HTMX without screwing up the layout, this keeps the swapped out content within the PageCard component.  Including the image in this component caused it to flicker on every toggle of the watched button which is unacceptable so the image will not be included in this component.
const { movie, userId, userMovieId, watchedStateParam, usingFilters } = Astro.props;

const { title, year, rated, genre } = movie;


---

<div id={`movie-list-item-inner-container-${userMovieId}`} class="flex flex-col items-end justify-end">
  <h1 class="text-xl lg:text-2xl font-bold">{title}</h1>
  <h2 class="text-lg lg:text-xl">{year}</h2>
  <h2 class="text-lg lg:text-xl">{rated}</h2>
  <h2 class="text-lg lg:text-xl">{genre}</h2>
  <div 
    id={`watched-div-${userMovieId}`}
    class="mt-4"
  >
    <button
      id={`watched-button-${userMovieId}`}
      class={buttonClasses}
      hx-post={`/partials/user/toggle/${userId}/${userMovieId}/?watched=${watchedStateParam}`}
      hx-trigger="click"
      hx-target={`#movie-list-item-inner-container-${userMovieId}`}
      hx-swap="innerHTML"
      hx-boost="true"
    >
      {movie.watched ? 'Watched' : 'To Watch'}
    </button>
  </div>
<div>
