---
import { movieNotFound } from "../../data/movieNotFound";
import type { Movie } from "../../typedefs/Movie";
import PageCard from "../style/PageCard.astro";
import MovieListItemInner from "./MovieListItemInner.astro";
import { buttonClasses } from "../style/twClasses/buttonClasses";
import { Image } from "astro:assets";

const { movie, filter } = Astro.props;

const typedMovie = movie ? movie as Movie : movieNotFound;

const {
  title,
  year,
  rated,
  runtime,
  genre,
  director,
  watched
} = movie;

const imageUrl = movie.poster && movie.poster !== 'No info available' ? movie.poster : '/images/not-found.png';

const buttonSwapIdFallback = movie.imdbId ? movie.imdbId : title.split(' ').join('-').toLowerCase(); // we should not have to use this but it is there just in case
const userMovieId = movie.userMovieId ? movie.userMovieId : buttonSwapIdFallback;

const userId = '01J9W2QWVYK5SA1DJ06Q21ZCFW';

const watchedStateParam = watched ? 'watched' : 'unwatched';
---
<PageCard>
  <div class="flex flex-row items-between justify-between">
    <Image 
      src={imageUrl} 
      alt={title} 
      width={100} 
      height={75} 
    />
    <MovieListItemInner 
      movie={movie} 
      userId={userId} 
      userMovieId={userMovieId} 
      watchedStateParam={watchedStateParam}
      filter={filter}
    /> 
  </div>
</PageCard>
