---
import { movieNotFound } from "../../data/movieNotFound";
import type { Movie } from "../../typedefs/Movie";
import PageCard from "../style/PageCard.astro";
import MovieListItemInner from "./MovieListItemInner.astro";
import { buttonClasses } from "../style/twClasses/buttonClasses";
import { Image } from "astro:assets";

import { userId } from '../../data/hardcodedUserId';
import { formatTitleForId } from "../../helper/formatTitleForId";

const { movie, filter } = Astro.props;

const typedMovie = movie ? movie as Movie : movieNotFound;

const {
  title,
  year,
  rated,
  runtime,
  genre,
  director,
  watched
} = movie;

const imageUrl = movie.poster && movie.poster !== 'No info available' ? movie.poster : '/images/not-found.png';

const buttonSwapIdFallback = movie.imdbId ? movie.imdbId : title.split(' ').join('-').toLowerCase(); // we should not have to use this but it is there just in case
const userMovieId = movie.userMovieId ? movie.userMovieId : buttonSwapIdFallback;

const watchedStateParam = watched ? 'watched' : 'unwatched';

const deleteButtonClasses = `${buttonClasses} w-full bg-red-600 hover:bg-red-500 py-1`;
---
<PageCard id={`movie-list-item-page-card-${formatTitleForId(title)}`} testId="movie-list-item-page-card">
  <div class="flex flex-row items-between justify-between">
    <Image
      id={movie-list-item-image-${formatTitleForId(title)}}
      data-testid="movie-list-item-image"
      src={imageUrl} 
      alt={title} 
      width={100} 
      height={75} 
    />
    <MovieListItemInner 
      movie={movie} 
      userId={userId} 
      userMovieId={userMovieId} 
      watchedStateParam={watchedStateParam}
      filter={filter}
    /> 
  </div>
  <div class="flex flex-col items-center justify-center mt-3">
    <button 
      id={`delete-movie-${userMovieId}`} 
      data-testid="delete-movie-button"
      class={deleteButtonClasses}
      hx-get={`/partials/user/are-you-sure/${userId}/${userMovieId}`}
      hx-trigger="click"
      hx-target={`#are-you-sure-${userMovieId}`}
      hx-replace="innerHTML"
      hx-boost={true}
    >
      DELETE THIS MOVIE
    </button>
    <div id={`are-you-sure-${userMovieId}`}>

    </div>
</PageCard>
