---
import { Image } from "astro:assets";
import { movieNotFound } from "../../data/movieNotFound";
import type { Movie } from "../../typedefs/Movie";
import PageCard from "../style/PageCard.astro";
import { buttonClasses } from "../style/twClasses/buttonClasses";

const { movie } = Astro.props;

const typedMovie = movie ? movie as Movie : movieNotFound;

const imageUrl = movie.poster && movie.poster !== 'No info available' ? movie.poster : '/images/movieNotFound.jpg';

const {
  title,
  year,
  rated,
  runtime,
  genre,
  director,
  watched
} = movie;

const buttonSwapIdFallback = movie.imdbId ? movie.imdbId : title.split(' ').join('-').toLowerCase(); // we should not have to use this but it is there just in case
const userMovieId = movie.userMovieId ? movie.userMovieId : buttonSwapIdFallback;

---
<PageCard>
  <div class="flex flex-row items-between justify-between">
    <Image src={imageUrl} alt={movie.title} width={100} height={75} />

    <div class="flex flex-col items-end justify-end">
      <h1 class="text-xl lg:text-2xl font-bold">{title}</h1>
      <h2 class="text-lg lg:text-xl">{year}</h2>
      <h2 class="text-lg lg:text-xl">{rated}</h2>
      <h2 class="text-lg lg:text-xl">{genre}</h2>
      <div id={`watch-button-${userMovieId}`} class="mt-4">
        <button class={buttonClasses}>To Watch</button>
      </div>
  </div>
</PageCard>
