---
export const partial = true;

import MovieList from "../../../../../../components/MovieList/MovieList.astro";

const { userId, movieId } = Astro.params;

console.log(`userId: ${userId}`);
console.log(`movieId: ${movieId}`);

let isDeleteError = false;
let isFetchError = false;

const deleteMovieResponse = await fetch(`${import.meta.env.HOST_URL}/api/user/delete-movie/${userId}/${movieId}`, { method: 'DELETE' });
const deleteMovieData = await deleteMovieResponse.json();

if (deleteMovieData.error) {
  isDeleteError = true;
}

const response = await fetch(`${import.meta.env.HOST_URL}/api/user/movies/${userId}`);
const data = await response.json();

if (data.error) {
  isFetchError = true;
}

const movies = !data.error ? data as Movie[] : [] as Movie[];
---
{
  isDeleteError
  ?
    <div class="flex flex-col items-center justify-center text-center">
      <p class="text-lg text-white font-bold">Error deleting movie.  Please try again.</p>
    </div>
  :
    null
}
{
  isFetchError
  ?
    <p>We're sorry, something went wrong.</p>
  :
    <MovieList movies={movies} filter="all" />
}
