---
import { buttonClasses } from "../../../../../../components/style/twClasses/buttonClasses";

export const partial = true;

const params = Astro.url.pathname.split('/');
const userId = params[4];
const movieId = params[5];
const watchedStateParam = Astro.url.searchParams.get('watched');

let isError = false;

const response = await fetch (`${import.meta.env.HOST_URL}/api/user/toggle/${userId}/${movieId}/?watched=${watchedStateParam}`);
const data = await response.json();

if (data.error) {
  isError = true;
}

const newWatchedState = !data.error && data.newWatchedState ? data.newWatchedState : false;

---
<button
  id={`watched-button-${movieId}`}
  class={buttonClasses}
  hx-post={`/partials/user/toggle/${userId}/${movieId}/?watched=${newWatchedState}`}
  hx-trigger="click"
  hx-target={`#watched-div-${movieId}`}
  hx-swap="innerHTML"
>
  {
    isError
      ?
        'ERROR'
      :
        newWatchedState === true ? 'Watched' : 'To Watch'
  }
</button>
